body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('—Pngtree—blue colorful abstract kids page_13243915.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
    opacity: 1; /* Adjust the opacity here */
    z-index: -1; /* Ensure the background is behind the content */
}
h2 {
    color: #333;
}

canvas {
    border: 1px solid black;
    margin-top: 10px;
}

#content {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}
.fade-in {
    opacity: 0;
    animation: fadeInAnimation ease 2s;
    animation-fill-mode: forwards;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.containers {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.dragcont {
    width: 45%;
    height: 200px;
    border: 2px dashed #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.draggable-objects {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.draggable-objects img{
    width: 100px;
    height:100px;
}

.draggable {
    width: 100px;
    height: 50px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    margin: 10px;
}

.draggable.dragging {
    opacity: 0.5;
}

.fixed {
    filter: blur(0.5px);
}

.tick, .wrong-mark {
    position: absolute;
    font-size: 2rem;
    color: green;
}

.wrong-mark {
    color: red;
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.object-container {
    display: inline-block;
    text-align: center;
    margin: 5px;
}
.object-container img{
    width: 100px;
    height: 100px;
}
.container img{
    width: 50px;
    height: 50px;
}
.ticker {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    border-radius: 50%;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.tick {
    color: green;
}

.wrong-mark {
    color: red;
}
table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

#feedback {
    margin-top: 20px;
    font-size: 1.2em;
}